<div class="pt-6 pb-3 px-md-8 px-4">
  <div class="table-responsive pb-3">
    <table class="tableConference">
      <thead>
        <tr>
          <th style="width: 24px" class="text-start">#</th>
          <th class="text-start">Družstvo</th>
          <th>Kol</th>
          <th>V</th>
          <th>Skóre</th>
          <th>Legy</th>
          <th>B</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-start">1.</td>
          <td class="text-start">Sgt. Pepik's Band Praha</td>
          <td>17</td>
          <td>11</td>
          <td>179:128</td>
          <td>415:329</td>
          <td>35</td>
        </tr>
        <tr>
          <td class="text-start">2.</td>
          <td class="text-start">40+ Trutnov</td>
          <td>17</td>
          <td>11</td>
          <td>179:128</td>
          <td>415:329</td>
          <td>35</td>
        </tr>
        <tr>
          <td class="text-start">3.</td>
          <td class="text-start">Olympia Tábor</td>
          <td>17</td>
          <td>11</td>
          <td>179:128</td>
          <td>415:329</td>
          <td>35</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
