<section class="bg-gray py-10">
  <div class="container">
    <div class="swiper partnersSlider">
      <ul
        role="list"
        class="swiper-wrapper infinite-scroll-swiper align-items-center"
      >
        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/partners/p-1.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/partners/p-6.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/partners/p-2.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/partners/p-3.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/partners/p-4.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/partners/p-5.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/partners/p-1.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/partners/p-2.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/partners/p-3.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/partners/p-4.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/partners/p-5.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
