<div class="matchDetail bg-gray py-lg-10 py-8 mb-lg-10 mb-8">
  <div class="container">
    <div class="matchDetail__grid">
      <div class="matchDetail__team">
        <h2 class="h2 text-primary text-end">Koněspřežka Bujanov A</h2>
        <div
          class="d-flex align-items-center gap-lg-4 gap-2 flex-wrap-reverse mt-1 justify-content-end"
        >
          <div class="text-tertiary">Kapitán</div>

          <div
            class="d-flex flex-lg-row flex-row-reverse align-items-center gap-2 justify-content-end"
          >
            <img
              class="object-fit-cover rounded-circle object-position-top bg-gray"
              src="images/content/player.png"
              width="40"
              height="40"
              alt=""
            />
            <a href="#" class="fw-bold text-secondary text-end"
              >Hoffmann Martin</a
            >
          </div>
        </div>
      </div>
      <div class="row g-1 matchDetail__info">
        <div class="col-6">
          <div class="h1 matchDetail__score">11</div>
        </div>
        <div class="col-6">
          <div class="h1 matchDetail__score">7</div>
        </div>
        <div class="col-12">
          <div class="h5 matchDetail__score-bottom">
            <div class="text-end">25</div>
            <span>:</span>
            <div class="text-start">17</div>
          </div>
        </div>
      </div>
      <div class="matchDetail__team">
        <h2 class="h2 text-primary">Letka Hořice na Šumavě</h2>
        <div class="d-flex align-items-center gap-lg-4 gap-2 flex-wrap mt-1">
          <div class="d-flex align-items-center gap-2">
            <img
              class="object-fit-cover rounded-circle object-position-top bg-gray"
              src="images/content/player.png"
              width="40"
              height="40"
              alt=""
            />
            <a href="#" class="fw-bold text-secondary">Hoffmann Martin</a>
          </div>
          <div class="text-tertiary">Kapitán</div>
        </div>
      </div>
    </div>

    <div
      class="d-flex flex-wrap gap-lg-6 gap-4 align-items-center justify-content-center mt-6 text-tertiary"
    >
      <p>
        <strong class="pe-2"> Datum a čas: </strong>
        so 21. 2. 2026, 16:00
      </p>
      <p>
        <strong class="pe-2"> Soutěž:</strong>
        <a href="#">3. Jihočeská liga A</a>
      </p>
      <p>
        <strong class="pe-2"> Kolo: </strong>
        15.
      </p>
      <p>
        <strong class="pe-2">Hrací místo: </strong>
        <a data-bs-toggle="modal" data-bs-target="#modalPlace" href="#"
          >Hospůdka U Koňky Bujanov</a
        >
      </p>
    </div>
  </div>
</div>
