<aside class="aside">
  <div class="bg-gray p-2">
    <div class="aside__menu">
      <h3 class="h4 text-primary p-6 px-lg-8">Informace</h3>
      <ul class="aside__list">
        <li>
          <a class="aside__link active" href="#">Kontakty </a>
        </li>
        <li>
          <a class="aside__link" href="#">Organizační struktura </a>
        </li>
        <li>
          <a class="aside__link" href="#">Disciplinární řízení </a>
        </li>
        <li>
          <a class="aside__link" href="#"> Rozhodčí</a>
        </li>
        <li>
          <a class="aside__link" href="#">Formuláře a tiskopisy </a>
        </li>
      </ul>
    </div>
  </div>

  <a class="d-block" href="#" target="_blank">
    <img
      class="object-fit-cover"
      width="100%"
      height="100%"
      srcset="https://picsum.photos/464/160"
      alt=""
    />
  </a>
</aside>
