<a href="#" class="postCard">
  <div class="postCard__img">
    <img
      loading="lazy"
      srcset="
        https://picsum.photos/464/310 1x,
        https://picsum.photos/928/620 2x
      "
      alt="post"
    />
    <div class="tag">Turnaje</div>
  </div>
  <div class="px-lg-6 px-4">
    <div class="text-base-sm text-tertiary mb-1">dnes</div>
    <h2 class="h4 text-primary">
      Jarní liga 2026: Praha hostí rekordních 312 hráčů
    </h2>
  </div>
</a>
