.alert {
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;

  padding: 12px 2rem 12px;
  text-align: center;
  background: var(--color-white);
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-danger {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
