.button-secondary {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: var(--color-white);
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  transition: background-color 0.25s ease, color 0.25s ease;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  padding: 0 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  svg {
    transition: all 0.25s ease;
    stroke: currentColor;
  }
  &:hover {
    background-color: var(--color-white);
    color: var(--color-secondary);
  }
}
