.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 1rem;
  }
  .table-responsive {
    margin: 2rem 0;
  }
  h1,
  h2 {
    margin-bottom: 1.5rem;
    color: var(--color-primary);
  }
  h5,
  h6,
  h3,
  h4 {
    margin-bottom: 1rem;
  }
  a {
    color: var(--color-secondary);
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 24px auto;
  }
  ul {
    margin: 0px 0 24px;
    > li {
      position: relative;
      padding-left: 24px;
      margin-bottom: 8px;
      &::before {
        content: "";
        background-color: var(--color-secondary);
        position: absolute;
        top: 10px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 100%;
      }
      > ul {
        margin: 16px 0 0;
        > li {
          &::before {
            border-radius: 50%;
          }
        }
      }
    }
  }
  ol {
    margin: 0px 0 24px;
    counter-reset: item;

    > li {
      counter-increment: item;
      position: relative;
      padding-left: 32px;
      margin-bottom: 8px;
      &::before {
        content: counter(item) ")";
        color: var(--color-primary);
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
      }
      > ol {
        margin: 16px 0 0;
        > li {
          &::before {
            content: counter(item) ".";
          }
        }
      }
    }
  }
}
