.tooltip {
  --bs-tooltip-bg: var(--color-gray);
  --bs-tooltip-color: var(--color-primary);
  --bs-tooltip-border-radius: 4px;
  --bs-tooltip-padding-x: 32px;
  --bs-tooltip-padding-y: 24px;
  --bs-tooltip-opacity: 1;
  --bs-tooltip-max-width: 280px;
  text-align: left !important;
  justify-content: flex-start;
  align-items: flex-start;
}
