<div
  class="modal fade"
  id="modalPlace"
  tabindex="-1"
  aria-labelledby="modalPlaceLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="h4 text-secondary" id="modalPlaceLabel">
          Bar U Madejů Hořice na Šumavě
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <img
            width="40px"
            height="40px"
            class="object-fit-contain"
            src="images/ico/modal-close.svg"
            alt="close"
            loading="lazy"
          />
        </button>
      </div>
      <div class="modal-body">
        <div class="tableModal">
          <table class="table">
            <tbody>
              <tr>
                <td class="fw-bold text-primary">Adresa:</td>
                <td class="text-primary">
                  Hořice na Šumavě 136, 382 22 Hořice na Šumavě
                </td>
                <td>
                  <a class="d-flex align-items-center gap-2" href="#">
                    <img
                      class="object-fit-contain"
                      width="16"
                      height="16"
                      src="images/ico/pin.svg"
                      alt="link"
                    />
                    Zobrazit na mapě
                  </a>
                </td>
              </tr>
              <tr>
                <td class="fw-bold">Web:</td>
                <td>
                  <a href="www.umadeju.cz" class="text-secondary"
                    >www.umadeju.cz</a
                  >
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="fw-bold">Kontakty:</td>
                <td>
                  <a class="text-secondary" href="tel:+420777888999"
                    >+420 777 888 999</a
                  >,
                  <a class="text-secondary" href="mailto:sekretariat@sipky.org"
                    >sekretariat@sipky.org</a
                  >
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
