<div
  class="modal modal-sm fade"
  id="modalLeague"
  tabindex="-1"
  aria-labelledby="modalLeagueLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="h4 text-secondary" id="modalLeagueLabel">
          Severozápadní konference
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <img
            width="40px"
            height="40px"
            class="object-fit-contain"
            src="images/ico/modal-close.svg"
            alt="close"
            loading="lazy"
          />
        </button>
      </div>
      <div class="modal-body">
        <div class="tableModal">
          <table class="table">
            <tbody>
              <tr>
                <td class="text-primary">Koněspřežka Bujanov A</td>
              </tr>
              <tr>
                <td class="text-primary">Letka Hořice na Šumavě</td>
              </tr>
              <tr>
                <td class="text-primary">Koněspřežka Bujanov A</td>
              </tr>
              <tr>
                <td class="text-primary">Koněspřežka Bujanov B</td>
              </tr>
              <tr>
                <td class="text-primary">Koněspřežka Bujanov C</td>
              </tr>
              <tr>
                <td class="text-primary">Koněspřežka Bujanov A</td>
              </tr>
              <tr>
                <td class="text-primary">Koněspřežka Bujanov A</td>
              </tr>
              <tr>
                <td class="text-primary">Koněspřežka Bujanov A</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
