<div
  class="modal fade"
  id="modalDeadline"
  tabindex="-1"
  aria-labelledby="modalDeadlineLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="h4 text-secondary" id="modalDeadlineLabel">
          Národní finále Ligového poháru (kat. C+)
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <img
            width="40px"
            height="40px"
            class="object-fit-contain"
            src="images/ico/modal-close.svg"
            alt="close"
            loading="lazy"
          />
        </button>
      </div>
      <div class="modal-body">
        <div class="tableModal">
          <table class="table">
            <tbody>
              <tr>
                <td class="fw-bold">Zahájení:</td>
                <td>so 30. 5. 2026, 14:00</td>
                <td></td>
              </tr>
              <tr>
                <td class="fw-bold">Ukončení:</td>
                <td>pá 5. 6. 2026, 21:00</td>
                <td></td>
              </tr>
              <tr>
                <td class="fw-bold">Hrací místo:</td>
                <td>DK Žďár nad Sázavou, Dolní 183/30</td>
                <td>
                  <a class="d-flex align-items-center gap-2" href="#">
                    <img
                      class="object-fit-contain"
                      width="16"
                      height="16"
                      src="images/ico/pin.svg"
                      alt="link"
                    />
                    Zobrazit na mapě
                  </a>
                </td>
              </tr>
              <tr>
                <td class="fw-bold">Kontakty:</td>
                <td>
                  <a class="text-secondary" href="tel:+420777888999"
                    >+420 777 888 999</a
                  >,
                  <a class="text-secondary" href="mailto:sekretariat@sipky.org"
                    >sekretariat@sipky.org</a
                  >
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="bg-gray px-md-10 p-6">
          <h5 class="h5 mb-4 text-primary">Související dokumenty</h5>
          <ul class="d-flex flex-column gap-3">
            <li class="d-flex align-items-center gap-3">
              <img
                src="images/ico/file.svg"
                width="32"
                height="32"
                class="object-fit-contain"
                alt="file"
              />
              <div>
                <a
                  class="text-secondary d-block fw-bold"
                  href="images/ico/file.svg"
                  download
                >
                  Soutěžní řád pro rok 2026
                </a>
                <p class="text-base-sm text-tertiary">
                  6.4.2026 / 642 kB (pdf)
                </p>
              </div>
            </li>
            <li class="d-flex align-items-center gap-3">
              <img
                src="images/ico/file.svg"
                width="32"
                height="32"
                class="object-fit-contain"
                alt="file"
              />
              <div>
                <a
                  class="text-secondary d-block fw-bold"
                  href="images/ico/file.svg"
                  download
                >
                  Úvodní kolo letošní Jarní ligy přilákalo nejvyšší počet
                  účastníků v historii UŠO
                </a>
                <p class="text-base-sm text-tertiary">
                  6.4.2026 / 642 kB (pdf)
                </p>
              </div>
            </li>
            <li class="d-flex align-items-center gap-3">
              <img
                src="images/ico/file.svg"
                width="32"
                height="32"
                class="object-fit-contain"
                alt="file"
              />
              <div>
                <a
                  class="text-secondary d-block fw-bold"
                  href="images/ico/file.svg"
                  download
                >
                  Zahájení disciplinárního řízení s hráčem Janem Novákem
                </a>
                <p class="text-base-sm text-tertiary">
                  6.4.2026 / 642 kB (pdf)
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
