<div class="playerDetail">
  <div class="playerDetail__inner">
    <div class="playerDetail__img">
      <img src="images/content/player.png" alt="avatar" />
    </div>
    <div class="playerDetail__info">
      <table class="table">
        <tbody>
          <tr>
            <td style="width: 180px" class="fw-bold ps-lg-10">
              Registrační číslo:
            </td>
            <td>CZE000022</td>
          </tr>
          <tr>
            <td style="width: 180px" class="fw-bold ps-lg-10">Obec:</td>
            <td>Říčany</td>
          </tr>
          <tr>
            <td style="width: 180px" class="fw-bold ps-lg-10">Kategorie:</td>
            <td>A</td>
          </tr>
          <tr>
            <td style="width: 180px" class="fw-bold ps-lg-10">Klub:</td>
            <td>
              <a href="#" class="text-secondary">Sgt. Pepik's Band Praha</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
