.playerDetail {
  background-color: var(--color-gray);
  padding: 10px;
  margin-bottom: 40px;
  &__title {
    padding: 24px 32px;
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2px;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
      gap: 8px;
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: minmax(200px, 232px) 1fr;
    gap: 2px;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      display: flex;
    }
  }
  &__img {
    background-color: var(--color-white);

    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(sm) {
      padding: 24px;
    }
    img {
      width: 160px;
      height: 160px;
      min-width: 160px;
      object-fit: cover;
      object-position: top;
      border-radius: 100%;
      background-color: var(--color-gray);
      box-shadow: 0px 3px 3px -1.5px #0a0d120a, 0px 8px 8px -4px #0a0d1208,
        0px 20px 24px -4px #0a0d1214;
    }
  }
  &__info {
    background-color: var(--color-white);
    width: 100%;
    tr {
      @include media-breakpoint-down(lg) {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--color-gray);
        padding: 12px 20px;
        gap: 8px;
      }
    }
    td {
      @include media-breakpoint-down(lg) {
        width: auto !important;
        border: none;
        padding: 0;
      }
    }
  }
}
.playerPhoto {
  background-color: var(--color-gray);
  border-radius: 100%;
  object-position: top;
  object-fit: cover;
  width: 80px;
  height: 80px;
  min-width: 80px;
  @include media-breakpoint-down(md) {
    width: 48px;
    height: 48px;
    min-width: 48px;
  }
}
