<footer class="py-lg-14 py-10 text-white bg-primary">
  <div class="container">
    <div class="row g-8">
      <div class="col-lg-4">
        <a href="#" class="footer__logo">
          <img src="images/ico/logo-footer.svg" alt="UŠO" />
        </a>

        <a
          href="javascript:void(0);"
          data-cc="c-settings"
          aria-haspopup="dialog"
          class="text-tertiary text-base-sm mb-2 d-block"
        >
          Nastavení cookies
        </a>

        <p class="text-bold-sm">
          Copyright © 2026 UŠO &amp;
          <a
            class="text-secondary"
            href="https://esportsmedia.cz/"
            target="_blank"
          >
            eSports.cz, s.r.o.
          </a>
        </p>
      </div>
      <div class="col-lg-8">
        <div class="d-flex gap-xxl-16 gap-10 flex-md-row flex-column">
          <div class="footer__col">
            <h6 class="h5 mb-4">Sekretariát republikový</h6>
            <ul class="text-base-md d-grid gap-1">
              <li>Sekretář: Uhříček Břetislav</li>
              <li>Adresa: Za Školou 178, Trutnov 54101</li>
              <li>
                Telefon:
                <a class="text-secondary" href="tel:+420777065519">
                  777 065 519
                </a>
              </li>
              <li>
                Email:
                <a class="text-secondary" href="mailto:sekretariat@sipky.org">
                  sekretariat@sipky.org
                </a>
              </li>
            </ul>
          </div>

          <div class="footer__col">
            <h6 class="h5 mb-4">Sportovní a disciplinární komise</h6>
            <ul class="text-base-md d-grid gap-1">
              <li>Předseda: Minařík Jiří</li>
              <li>
                Telefon:
                <a class="text-secondary" href="tel:+420773766767"
                  >773 766 767</a
                >,
                <a class="text-secondary" href="tel:+420777779007"
                  >777 779 007</a
                >
              </li>

              <li>
                Email:
                <a class="text-secondary" href="mailto:j.mina@seznam.cz"
                  >j.mina@seznam.cz</a
                >
              </li>
            </ul>
          </div>

          <div class="footer__col">
            <h6 class="h5 mb-4">Titulek nad odkazy</h6>
            <ul class="text-base-md d-grid gap-1">
              <li><a class="hover-outline" href="#">Odkaz v menu</a></li>
              <li><a class="hover-outline" href="#">Odkaz v menu</a></li>
              <li><a class="hover-outline" href="#">Odkaz v menu</a></li>
              <li><a class="hover-outline" href="#">Odkaz v menu</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
