:root {
  --font-body: "Inter", sans-serif;
  --font-display: "Rethink Sans", sans-serif;
  --color-white: #fff;
  --color-black: #000;

  --color-primary: #1c1f2a;
  --color-secondary: #ff3f2c;
  --color-secondary-80: rgba(255, 63, 44, 0.8);

  --color-tertiary: #73757c;

  --color-gray: #f5f6f8;
  // --color-gray: #eff1f4;
  --color-gray-5: #fdfdfd;
  --color-gray-30: #e4e4e7;

  --color-success-20: #cbf0cb;
  --color-error-20: #fee4e2;
  --color-pink: #fc00e7;
  --color-text-error: #f04438;
}
