{% extends "@components/base/base.twig" %} {% set title = "04.0_ranking-detail"
%} {% block main %} {% include "@components/header/header.twig" %}
<main class="main" aria-label="Hlavní obsah">
  <section class="mb-10">
    <div class="bg-gray py-lg-10 py-8 mb-lg-10 mb-8">
      <div class="container">
        <div
          class="d-flex gap-4 justify-content-between align-items-center flex-wrap"
        >
          <h1 class="h2 text-secondary">
            Žebříček: Windson Cup - ČP mužů 2026
          </h1>
          <ul class="d-flex align-items-center gap-lg-6 gap-4 flex-wrap">
            <li class="d-flex align-items-center gap-lg-3 gap-2">
              <strong>Hráči:</strong> 9250
            </li>
            <li class="d-flex align-items-center gap-lg-3 gap-2">
              <strong>Turnaje:</strong> 6459
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <form
        class="filterForm d-flex flex-sm-row flex-column align-items-center gap-4 flex-wrap mb-10"
      >
        <div class="filterForm-search">
          <input
            class="filterForm-search__input"
            placeholder="Hledat hráče"
            type="text"
          />
          <button class="filterForm-search__icon">
            <img
              src="images/ico/search.svg"
              width="16"
              height="16"
              alt="search"
              class="object-fit-contain"
            />
          </button>
        </div>
        <button class="button-secondary w-sm-auto w-100">
          Hledat {% include "@images/chevron-right.svg" %}
        </button>
        <button class="filterForm-reset" type="reset">
          {% include "@images/x-close.svg" %} Resetovat filtr
        </button>
      </form>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th style="width: 80px">
                <span class="d-md-block d-none">Pořadí</span>
                <span class="d-md-none d-block">P</span>
              </th>
              <th>Hráč</th>
              <th>Registrační číslo</th>
              <th style="width: 80px" class="text-center">Kat</th>
              <th>Klub</th>
              <th style="width: 80px" class="text-center">A</th>
              <th style="width: 80px" class="text-center">B</th>
              <th style="width: 80px" class="text-center">C</th>
              <th style="width: 80px" class="text-center">D</th>
              <th style="width: 80px" class="text-center">Z</th>
              <th style="width: 80px" class="text-center">O</th>
              <th style="width: 104px" class="text-center">Body</th>
            </tr>
          </tbody>
          <tbody>
            {% for i in 1..20 %}
            <tr>
              <td>1.</td>
              <td>
                <a href="#" class="text-secondary fw-bold">Hoffmann Martin</a>
              </td>
              <td>CZE000022</td>
              <td class="text-center">A</td>
              <td>
                <a href="#">Sgt. Pepik's Band Praha</a>
              </td>
              <td class="text-center">2</td>
              <td class="text-center">3</td>
              <td class="text-center">10</td>
              <td class="text-center">0</td>
              <td class="text-center">14</td>
              <td class="text-center">61</td>
              <td class="text-center">10 850</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <nav class="navPagination mt-8" aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a href="#" class="page-link" type="button">
              {% include "@images/arrow-left.svg" %}
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item">
            <a href="#" class="page-link" type="button">
              {% include "@images/arrow-right.svg" %}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</main>

{% endblock %}
