{% extends "@components/base/base.twig" %} {% set title = "11.0_static" %} {%
block main %} {% include "@components/header/header.twig" %}
<main class="main" aria-label="Hlavní obsah">
  <section class="mb-10">
    <div class="bg-gray py-lg-10 py-8 mb-lg-10 mb-8">
      <div class="container">
        <h1 class="h2 text-secondary px-xxl-10 px-lg-6">
          Organizační struktura
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row g-6">
        <div class="col-lg-8">
          <div class="px-xxl-10 px-lg-6">
            <div class="o-content">
              <p>
                Sportovní hala Letňany se v sobotu 14. března proměnila v
                ústřední dějiště šipkového dění. Celkem 312 registrovaných hráčů
                ze čtrnácti krajů dorazilo na úvodní kolo letošní Jarní ligy,
                pořádané pod záštitou Unie šipek — UŠO. Oproti loňskému ročníku
                jde o nárůst o více než 20 procent, což organizátoři hodnotí
                jako jasný signál rostoucí popularity odvětví.
              </p>

              <p>
                Mezi největší favority patřil obhájce loňského titulu Radek
                Štěpánek z Brna, který skupinovou fázi prošel bez jediné prohry.
                Neméně přesvědčivě si vedla dvojnásobná mistryně ČR Jana
                Horáková z Olomouce, jež v kategorii žen ztratila pouhé dvě
                sady. Velké překvapení přinesl sedmnáctiletý nováček Tomáš
                Blažek z Ostravy, jenž vyřadil hned tři hráče z první desítky
                světového žebříčku UŠO.
              </p>
              <img srcset="https://picsum.photos/900/600" alt="photo" />
              <h2>Nadpis H2</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
              <h3>Nadpis H3</h3>
              <ul>
                <li>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </li>
                <li>essentially unchanged.</li>
                <li>
                  <a href="#"> Lorem ipsum dolor sit. </a>
                </li>
                <li>Lorem ipsum dolor sit.</li>
              </ul>

              <h3>Nadpis H3</h3>
              <ol>
                <li>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </li>
                <li>essentially unchanged.</li>
                <li>
                  <a href="#"> Lorem ipsum dolor sit. </a>
                </li>
                <li>Lorem ipsum dolor sit.</li>
              </ol>
              <h4>Nadpis H4</h4>
              <h5>Nadpis H5</h5>
              <h6>Nadpis H6</h6>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo aliquam totam possimus modi nesciunt beatae
                exercitationem repellendus omnis perferendis nulla.
              </p>
              <p>
                Turnaj probíhal na šestnácti automatech značky Winmau a osmi
                klasických terčích. Organizátoři letos poprvé nasadili
                <a href="#">elektronický systém sledování výsledků</a> v reálném
                čase, který byl přístupný i online divákům prostřednictvím webu
                UŠO. Živý přenos sledovalo v jednu chvíli přes 4 600 unikátních
                uživatelů.
              </p>
              <table>
                <thead>
                  <tr>
                    <th>První sloupec</th>
                    <th>Druhý sloupec</th>
                    <th>Třetí sloupec</th>
                    <th>Čtvrtý sloupec</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Obsah</td>
                    <td>Obsah</td>
                    <td>Hodnota</td>
                    <td>Obsah</td>
                  </tr>
                  <tr>
                    <td>Obsah</td>
                    <td>Obsah</td>
                    <td>Hodnota</td>
                    <td>Obsah</td>
                  </tr>
                  <tr>
                    <td>Obsah</td>
                    <td>Obsah</td>
                    <td>Hodnota</td>
                    <td>Obsah</td>
                  </tr>
                </tbody>
              </table>

              <h4>Výsledky a postup do druhého kola</h4>
              <p>
                Ze skupinové fáze postoupilo celkem 64 hráčů, kteří se utkají ve
                druhém kole plánovaném na 5. dubna v Plzni. Kompletní výsledky
                skupin jsou k dispozici v sekci Výsledky na tomto webu. Losování
                pavouka proběhne v pondělí 17. března prostřednictvím přímého
                přenosu na kanálu UŠO.
              </p>
              <p>
                Registrace do druhého kola pro divoké karty zůstává otevřená do
                28. března. Zájemci se mohou přihlásit přes členský portál nebo
                přímo na sekretariátu UŠO v Praze.
              </p>
            </div>
            <div class="article-gallery bg-gray px-lg-10 px-6 py-6 mt-8">
              <h5 class="h5 mb-4 text-primary">
                Mistrovství republiky 2026 (6. 4. 2026)
              </h5>
              <div class="row g-3">
                <div class="col-lg-3 col-sm-6">
                  <a
                    class="article-gallery__item"
                    href="#"
                    data-source="/uso-darts/build/ajax-gallery.json"
                    data-gallery-id="1"
                  >
                    <img
                      srcset="https://picsum.photos/189/126"
                      alt="photo"
                      width="189"
                      height="126"
                      loading="lazy"
                    />
                  </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <a
                    class="article-gallery__item"
                    href="#"
                    data-source="/uso-darts/build/ajax-gallery.json"
                    data-gallery-id="1"
                  >
                    <img
                      srcset="https://picsum.photos/189/126"
                      alt="photo"
                      width="189"
                      height="126"
                      loading="lazy"
                    />
                  </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <a
                    class="article-gallery__item"
                    href="#"
                    data-source="/uso-darts/build/ajax-gallery.json"
                    data-gallery-id="1"
                  >
                    <img
                      srcset="https://picsum.photos/189/126"
                      alt="photo"
                      width="189"
                      height="126"
                      loading="lazy"
                    />
                  </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <a
                    class="article-gallery__item"
                    href="#"
                    data-source="/uso-darts/build/ajax-gallery.json"
                    data-gallery-id="1"
                  >
                    <img
                      srcset="https://picsum.photos/189/126"
                      alt="photo"
                      width="189"
                      height="126"
                      loading="lazy"
                    />
                    <div class="article-gallery__num">
                      <div class="h2">+24</div>
                      <div class="h6">dalších fotek</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="bg-gray px-lg-10 px-6 py-6 my-8">
              <h5 class="h5 mb-4 text-primary">Související dokumenty</h5>
              <ul class="d-flex flex-column gap-3">
                <li class="d-flex align-items-center gap-3">
                  <img
                    src="images/ico/file.svg"
                    width="32"
                    height="32"
                    class="object-fit-contain"
                    alt="file"
                  />
                  <div>
                    <a
                      class="text-secondary d-block fw-bold"
                      href="images/ico/file.svg"
                      download
                    >
                      Soutěžní řád pro rok 2026
                    </a>
                    <p class="text-base-sm text-tertiary">
                      6.4.2026 / 642 kB (pdf)
                    </p>
                  </div>
                </li>
                <li class="d-flex align-items-center gap-3">
                  <img
                    src="images/ico/file.svg"
                    width="32"
                    height="32"
                    class="object-fit-contain"
                    alt="file"
                  />
                  <div>
                    <a
                      class="text-secondary d-block fw-bold"
                      href="images/ico/file.svg"
                      download
                    >
                      Úvodní kolo letošní Jarní ligy přilákalo nejvyšší počet
                      účastníků v historii UŠO
                    </a>
                    <p class="text-base-sm text-tertiary">
                      6.4.2026 / 642 kB (pdf)
                    </p>
                  </div>
                </li>
                <li class="d-flex align-items-center gap-3">
                  <img
                    src="images/ico/file.svg"
                    width="32"
                    height="32"
                    class="object-fit-contain"
                    alt="file"
                  />
                  <div>
                    <a
                      class="text-secondary d-block fw-bold"
                      href="images/ico/file.svg"
                      download
                    >
                      Zahájení disciplinárního řízení s hráčem Janem Novákem
                    </a>
                    <p class="text-base-sm text-tertiary">
                      6.4.2026 / 642 kB (pdf)
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            {% include "@components/contacts/contacts.twig" %}
          </div>

          <a class="d-block w-100 mt-lg-10 mt-8" href="#">
            <img
              class="w-100 object-fit-cover"
              src="images/content/pub.webp"
              alt="pub"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-lg-4">{% include "@components/aside/aside.twig" %}</div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
