{% extends "@components/base/base.twig" %} {% set title = "14.0_tournaments" %}
{% block main %} {% include "@components/header/header.twig" %}
<main class="main" aria-label="Hlavní obsah">
  <section class="mb-10">
    <div class="bg-gray py-lg-10 py-8 mb-lg-10 mb-8">
      <div class="container">
        <div
          class="d-flex gap-4 justify-content-between align-items-center flex-wrap"
        >
          <h1 class="h2 text-secondary">Turnaje</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <form
        class="filterForm d-flex flex-sm-row flex-column align-items-center gap-4 flex-wrap mb-10"
      >
        <div class="filterForm-select" style="width: 200px">
          <select class="js-select" id="filterPlace">
            <option value="">Všechny hrací místa</option>
            <option value="1">místa 1</option>
            <option value="2">místa 2</option>
            <option value="3">místa 3</option>
          </select>
        </div>
        <div class="filterForm-select" style="width: 210px">
          <select class="js-select" id="filterCategory">
            <option value="">Všechny typy turnajů</option>
            <option value="1">kategorie 1</option>
            <option value="2">kategorie řády</option>
            <option value="3">Soutěžní kategorie</option>
          </select>
        </div>
        <div class="filterForm-search">
          <input
            class="filterForm-search__input"
            placeholder="Hledat podle výrazu nebo slov  "
            type="text"
          />
          <button class="filterForm-search__icon">
            <img
              src="images/ico/search.svg"
              width="16"
              height="16"
              alt="search"
              class="object-fit-contain"
            />
          </button>
        </div>
        <button class="button-secondary w-sm-auto w-100">
          Hledat {% include "@images/chevron-right.svg" %}
        </button>
        <button class="filterForm-reset" type="reset">
          {% include "@images/x-close.svg" %} Resetovat filtr
        </button>
      </form>

      <div class="table-responsive mb-10">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 156px">Termín</th>
              <th style="width: 64px" class="text-center">Kolo</th>
              <th>Název turnaje</th>
              <th>Rozhodčí</th>
              <th>Hrací místo</th>
              <th style="width: 80px" class="text-center">Hráčů</th>
              <th style="width: 80px" class="text-center">Žeb</th>
              <th style="width: 160px">Detail</th>
            </tr>
          </thead>
          <tbody>
            {% for i in 1..10 %}
            <tr>
              <td>so 30. 5. 2026</td>
              <td class="text-center">52</td>
              <td>
                <a
                  class="fw-bold text-secondary"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#modalTournament"
                >
                  Kvalifikační turnaj muži
                </a>
              </td>
              <td>Uhříček Břetislav</td>
              <td>
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalPlace">
                  DK Žďár nad Sázavou, Dolní 183/30
                </a>
              </td>
              <td class="text-center">22</td>
              <td class="text-center">7</td>

              <td>
                <a
                  class="d-flex align-items-center gap-2"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#modalTournament"
                >
                  <img
                    class="object-fit-contain"
                    width="16"
                    height="16"
                    src="images/ico/arrow-circle-right.svg"
                    alt="link"
                  />
                  Detail turnaje
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <nav class="navPagination mt-8 mb-10" aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a href="#" class="page-link" type="button">
              {% include "@images/arrow-left.svg" %}
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item">
            <a href="#" class="page-link" type="button">
              {% include "@images/arrow-right.svg" %}
            </a>
          </li>
        </ul>
      </nav>
      <a class="d-block w-100" href="#">
        <img
          class="w-100 object-fit-cover"
          src="images/content/pub.webp"
          alt="pub"
          loading="lazy"
        />
      </a>
    </div>
  </section>
</main>
{% include "@components/modal/modalPlace.twig" %} {% include
"@components/modal/modalTournament.twig" %} {% endblock %}
